
/* Our CSS file. */


.container, .content {
    width: 100%;
    }
    .logo {
        float:left;
        margin-top:1%;
        padding: 12px;
        height:34px;
    
    }
    .form {
        float: right;
        margin-top: 30px;
        margin-right: 26px;
    }
    header {
        height: 85px;
        background:lightcyan;
        border-style:ridge;
        border-radius: 6px;
    }
    nav {
        text-align: center;
        margin-top: 100px; 
        border-style: double;
        border-radius: 6px;
        background-color: rgb(191, 245, 247);
        margin-left: -4px;
        margin-right:-4px;
    }
    
    
    nav a{
        margin:5%;
        
    }
    .aside1 {
        padding-top:10px;
        float:left;
        border-style: double;
        margin-top: 47px;
        width: 15%;
        line-height: 45px;
        border-radius: 6px;
        background-color: rgb(98, 233, 233);
    }
    #right-sidebar-menu {
        width: 16%;
        position: inline-block;
        background-color: rgb(56, 224, 230);
        float: right;
        border-style: groove;
        border-radius: 6px;
        height: 443px;
        padding-top: 54px;
        margin-top: 45px;
        line-height: 27px;
    }
    #main-content-section {
        padding-top: 5px;
        margin-top: 45px;
        background-color: rgb(56, 224, 230);
        border-style: groove;
        display: inline-block;
        width:67% ;
        border-radius: 6px;
        align-content: center;
        padding-bottom: 28px;
        margin-left: 6px;
    }
    .post-img{
        width:16%;
        padding-left: 115px;
        padding-bottom: 04px;
        height: 225px;
    }
    footer{
        margin-top: 4px;
        border-style: groove;
        background-color:rgb(56, 224, 230); 
        border-radius: 6px;
    }